<% layout("/layouts/boilerplate") %>
<body>
    <form method="post" action="/listing/<%=singledata._id%>?_method=PUT">
        <input type="text" placeholder="Enter title" name="listing[title]" value=<%=singledata.title%>><br>
        <textarea placeholder="Enter description" name="listing[description]"><%=singledata.description%></textarea><br>
        <input type="text" placeholder="Enter image url" name="listing[image]" value=<%=singledata.image%>><br>
        <input type="number" placeholder="Enter price" name="listing[price]" value=<%=singledata.price%>><br>
        <input type="text" placeholder="Enter location" name="listing[location]"  value=<%=singledata.location%>><br>
        <input type="text" placeholder="Enter country" name="listing[country]"  value=<%=singledata.country%>><br>
        <button>SUBMIT</button>
    </form>
</body>
