<% layout("/layouts/boilerplate") %>
<body>
    <h2><%=singledata.title%></h2>
    <ul>
        <li><%=singledata.description%></li>
        <li>&#8377;<%=singledata.price.toLocaleString("en-IN")%></li>
        <li><%=singledata.location%></li>
        <li><%=singledata.country%></li>
    </ul>
    <a href="/listing/<%=singledata._id%>/edit">EDIT</a>
    <form method="post" action="/listing/<%=singledata._id%>?_method=DELETE">
        <button>DELETE</button>
    </form>
</body>